<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}

  <body class="flex flex-col min-h-screen">

    <!-- Header -->
    {{ partial "nav.html" . }}

    <!-- Content -->
    <content class="mx-auto max-w grow">

    <!-- Main Container -->
      <div class="container sm:m-4 md:m-12 flex space-x-4">

        <!-- Profile plate -->
        <div class="flex items-center mb-4 md:mb-0">
          {{ partial "profile.html" }}
        </div>

        <!-- About -->
        <div class="max-w-prose p-10 rounded-sm border-solid border-2 border-white">
          <article>
            {{ .Content }}
          </article>
        </div>

      </div>
    </content>
  </body>
</html>
