<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}

  <body class="flex flex-col min-h-screen">

    <!-- Header -->
    {{ partial "nav.html" . }}

    <!-- Content -->
    <content class="mx-auto max-w grow">
      <!-- Main Container -->
      <div class="container sm:m-4 md:m-12 flex">
        <div class="max-w-prose p-10 border-solid border-2 border-white rounded-sm">
          <h1 class="text-4xl font-bold mb-6 text-gray-100">good enough for now</h1>
          <p class="text-md mb-4">
            This is a blog I'm building to learn more about Hugo and Tailwind
            CSS. I'm hoping to keep things really simple, but also have pretty
            granular control over the design. There's still some work to do,
            like making it mobile responsive, but I'm pretty happy with how
            it's coming along.
          </p>

          <p class="text-md mb-4">
            I'm currently writing a series of posts about my recent
            explorations of probabalistic programming for everyday practical
            business problems like time series forecasting and and anomaly
            detection. These methods are especially useful when there is poor
            data but plenty of domain knowledge and understanding that can be
            encoded into the model.
          </p>


          <!-- Blog links -->
          <ul class="list-disc text-gray-100">
            {{ range (where .Site.RegularPages "Type" "blog") }}
            <li class="mb-3">
              <a
                href="{{ .RelPermalink }}"
                class="text-lg font-semibold hover:text-gray-300 hover:underline"
                >{{ .Title }}</a
              >
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </content>
    <!-- Footer -->
    <!-- {{ partial "footer.html" . }} -->
  </body>
</html>
