<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}

  <body class="flex flex-col min-h-screen">

    <!-- Header -->
    {{ partial "nav.html" . }}

    <!-- Content -->
    <content class="mx-auto max-w grow">

      <!-- Main Container -->
      <div class="container sm:m-4 md:m-12 flex">

        <!-- Article Metadata -->
        <article-meta class="w-1/4">
          <div class="md:mr-6 p-6 rounded-sm border-solid border-white border-2 text-gray-100 space-y-4">
            <div class="text-2xl font-bold">{{ .Title }}</div>
            <div>{{ .PublishDate.Format "02 Jan 06 15:04 MST" }}</div>
            <div class="text-sm italic">{{ .Params.abstract }}</div>
          </div>
        </article-meta>

        <!-- Article Content -->
        <div class="w-3/4 max-w-prose p-10 border-solid border-2 border-white rounded-sm">
          <article>{{ .Content }}</article>
        </div>
      </div>
    </content>
  </body>
</html>
