@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

p {
  @apply text-gray-100;
}

a {
  @apply text-gray-100 hover:underline;
}

body {
  @apply bg-gray-900;
}

article {
  @apply p-2 space-y-2;
}

article > ol > li {
  @apply ml-6 list-decimal text-gray-100;
}

article > ul > li {
  @apply ml-6 list-disc text-gray-100;
}

article > p > a {
  @apply text-gray-100 hover:underline px-1 rounded bg-gray-700 hover:bg-gray-900;
}

article > h1,
article > h2 {
  @apply text-gray-100 text-2xl font-bold mb-4 underline;
}

article > h3 {
  @apply text-gray-100 text-xl font-bold mb-4;
}

article > p {
  @apply ml-6 text-gray-100;
}
