<footer>
  <!-- TODO Make this distinct from the nav ... only diff is the border-t -->
  <div class="py-4 px-6 w-full border-gray-100 border-solid border-t border-2 rounded-sm">
    <div class="flex justify-between items-center">
      <a href="/" class="text-lg font-bold">λlex chojnacki</a>
      <div class="flex space-x-4">
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </div>
    </div>
  </div>
</footer>
