<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <!-- Tailwind styles, plus custom classes, compiled by postcss -->
    <link rel="stylesheet" href="/styles/custom.css">
</head>
